<% include ./header %>

<div class="card " style="margin-top:30px">
    <div class="card-body p-0 list-group">
        <li class="list-group-item text-center" id="func">
            <h4>功能表</h4>
        </li>
        <button type="button" id="cls" class="list-group-item list-group-item-action text-center"
            style="background-color:#f4f4f4"><i class="fa fa-book"></i><strong>課程</strong></button>
        <button type="button" id="choose" style="display: none"
            class="list-group-item list-group-item-action text-center"><strong>選擇課程</strong></button>
        <button type="button" id="choose1" style="display: none"
            class="list-group-item list-group-item-action text-center"><strong>已選課程</strong></button>
        <a href="/face" class="list-group-item list-group-item-action text-center" style="background-color:#f4f4f4"><i
                class="fa fa-camera"></i><strong>拍照</strong></a>
    </div>
</div>


</div>
<% if(cls=='1'){ %>
<div id="main" class="card col-md-8" style="display: none">
    <% }else{ %>
    <div id="main" class="card col-md-8">

        <% } %>
        <div class="card-body col-md-8">
            <h3>這是一個學生使用者介面</h3>
            <p>開始操作時，可於開設課程中點選選擇課程，開放給所有學生點選。</p>
        </div>
        <div class="card-body col-md-8">
            <h3>製作小組</h3>
            <p>TEAMWORK</p>
            <p></p>
        </div>
    </div>
    <% if(cls =='1'){ %>
    <div id="open" class="card col-md-8">
        <% } else{ %>
        <div id="open" class="card col-md-8" style="display:none">
            <% } %>
            <div class="row ">
                <div class="col-4" style="padding-left:0px">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action  disabled" data-toggle="list" href="#list-Prof"
                            id="pro">教授</a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfCCC" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfKCH" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfLCC" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfFCM" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfZUS" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfPCR" id="pros"></a>
                        <a class="list-group-item list-group-item-action teachers" data-toggle="list"
                            href="#list-ProfCCD" id="pros"></a>

                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" style="margin-top: 20px">
                        <div class="tab-pane fade show active" id="list-Prof">請先選擇開課教授，即可找到心中的課程喔</div>
                        <div class="tab-pane fade" id="list-ProfCCC">
                            <div class="row class">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfKCH">
                            <div class="row class">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfLCC">
                            <div class="row class">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfFCM">
                            <div class="row class">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfZUS">
                            <div class="row class">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfPCR">
                            <div class="row class">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-ProfCCD">
                            <div class="row class">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="open1" class="card col-md-8" style="display: none">
            <div class="card-body col-md-12">
                <table BORDER="2" class="bootstrap table col-md-12">
                    <tr>
                        <td>節次/星期</td>
                        <td>星期一</td>
                        <td>星期二</td>
                        <td>星期三</td>
                        <td>星期四</td>
                        <td>星期五</td>
                        <td>星期六</td>
                        <td>星期日</td>
                    </tr>
                    <% for(var i=0;i<=13;i++){ %>
                    <tr>
                        <td>第<%= i+1 %>節</td>
                        <% for(var j=0;j<7;j++){ %>
                        <td></td>
                        <% } %>
                    </tr>
                    <% }%>
                </table>
            </div>
        </div>

    </div>
</div>

</body>

<script>
    $(document).ready(function () {
        $('#cls').click(function () {
            $('#choose').toggle(300)
            $('#choose1').toggle(300)
        })
    })
    $(document).ready(function () {
        $('#choose1').click(function () {
            $('#open1').toggle(300)
            $('#main').hide();
            $('#open').hide();
        })
        $('#choose').click(function () {
            $('#open').toggle(300)
            $('#main').hide();
            $('#open1').hide();
        })
    })
    fetch('/getallclass')
        .then(function (response) {
            return response.json();
        })
        .then(function (teachers_array) {
            for (let i in teachers_array) {
                document.querySelectorAll('a.teachers')[i].innerText = teachers_array[i].name
                for (let j in teachers_array[i].class) {
                    if (j == 0) {
                        document.querySelectorAll('.class')[i].innerHTML += ` <div class="col-9" ><a href="/user_stu/${teachers_array[i].class_number[j]}" class="btn btn-outline-info">${teachers_array[i].class[j]}</a></div>`
                    }
                    else
                        document.querySelectorAll('.class')[i].innerHTML += ` <div class="col-9" id="topp"><a href="/user_stu/${teachers_array[i].class_number[j]}" class="btn btn-outline-info">${teachers_array[i].class[j]}</a></div>`
                }
            }
        });
    var class_table = document.querySelector('#choose1');
    class_table.addEventListener('click', function () {
        fetch('/get_stu_class')
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                var array =[]
                for(let i in myJson){
                    array.push(myJson[i].class_time)
                }
                var re = /\((.)\)(\d+)-?(\d{0,3})/g;
                for (let i in myJson) {
                    var change = { '一': 1, '二': 2, '三': 3, '四': 4, '五': 5, '六': 6, '日': 7 }
                    var class_name = myJson[i].class_name;
                    var class_number = myJson[i].class_number;
                    re.exec(array)
                    var day = change[RegExp.$1]
                    var start_time = parseInt(RegExp.$2)
                    var end_time = RegExp.$3 - 0
                    var text = class_name
                    var text_link = text.link(`/user_stu/${class_number}`);
                    for (j = start_time; j <= end_time; j++) {
                        var table = document.querySelectorAll('tr')[j].querySelectorAll('td')[day].innerHTML = text_link
                    }
                    if (end_time == '') {
                        document.querySelectorAll('tr')[RegExp.$2 - 0].querySelectorAll('td')[day].innerHTML = text_link
                        re.exec(array)
                        document.querySelectorAll('tr')[RegExp.$2 - 0].querySelectorAll('td')[change[RegExp.$1]].innerHTML = text_link
                    }
                }
            });
    })
</script>

</html>