<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>tracking.js - face with camera</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="/try/bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script> <!-- 顯示提示框-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
        </script>
    <link href="/try/bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <script src="./build/tracking-min.js"></script>
    <script src="./build/data/face-min.js"></script>

    <style>
        #video,#canvas {
             position: absolute; 
        } 
        .take-btn{
            top: 100px;
            right: 320px;
        }
         .show-picture{
            padding: 0;
        } 
        .show_canvas{
            border:1px solid black;
            padding:5px 2px 2px 5px;
            margin-left: 20px;
            width:175px;
            height:140px;
        }
        .click_show_canvas{
            border:2px solid #ad0c0c;
            background-color: #ffffff; opacity:0.6; filter:alpha(opacity=50); 
        }
   
    </style>
    <script type="text/javascript">


    </script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="ui fixed menu navbar ">
                <div class="container">
                    <a href="/" class="item">首頁</a>
                    <div class="col-md-2 offset-md-4 form-group" style="margin-top: 7px;">
                        <input type="text" class="form-control" placeholder="請輸入關鍵字">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-default">搜尋</button>
                    </div>
                    <div class="right menu">
                        <a href="/logout" class="item">登出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:100px;">
            <div class='show-picture col-md-5 img-thumbnail pic' style="overflow:scroll;height:330px;" alt="Cinque Terre">
                <div class="card-header" id="sel">
                    <h5>Select Picture</h5>
                </div>
                <div class="card-header" id="num">
                    <h5><span id='number'>0</span>/5</h5>
                </div>
            </div>
            <div class="col-md-6  container-fluid">
                <video class="img-thumbnail" alt="Cinque Terre" id="video" width="600" height="480" preload autoplay
                    loop muted></video>
                <canvas id="canvas" width="600" height="480"></canvas>
                <div style="margin-top:330px">
                </div>
            </div>
            
        </div>
        <div class="row">

                <div class='col-4 ' style="margin:0;padding:0  ">
                        <button class='btn btn-primary ui green button fluid ' id='send_button' style="width:400px;">傳送</bttton>
                    </div>
                    <div class="col-5 offset-md-8" style="margin-top:0"><a class="take-btn"><img src="./images/button.png" width="50px"
                                height="50px"></a>
                    </div>
        </div>

    </div>
</body>
<script>
    var count = 0;


    function send(canvas) {
        const dataURL = canvas.toDataURL('image/png')
        const blobBin = atob(dataURL.split(',')[1])
        const array = []
        for (let i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i))
        }
        const file = new Blob([new Uint8Array(array)], { type: 'image/png' })

        // 將file 加至 formData
        const formData = new FormData()
        formData.append('file', file, `${count}.png`)
        // send ajax request 
        fetch('/face_save', {
            method: 'POST',
            body: formData
        }).then(res => res.text())
            .then(resText => console.log(resText))
        count++;
    }







    window.onload = function () {
        var send_button = document.querySelector("#send_button")
        send_button.onclick = function () {
            for (content of picture_array) {
                if (content.option)
                    send(content.img);
            }
            if (count == 5)
                location.href = '/'
        }

        //
        var index = 0;
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var tracker = new tracking.ObjectTracker('face');
        var take_picture = document.querySelector(".take-btn")
        var show_picutre = document.querySelector(".show-picture")
        var picture_array = [];
        var number = document.querySelector('#number')
        var x = document.getElementById("sel");
        var y = document.getElementById("num");
        y.style.display = "none"
        var t1 = 0;

        take_picture.addEventListener('click', function () {
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            canvas.setAttribute("value", index)
            canvas.classList.add('col-md-5')
            canvas.classList.add('show_canvas')
            context.drawImage(video, 0, 0, 290, 145);
            picture_array.push({ img: canvas, option: false });
            show_picutre.appendChild(canvas);
            var time = 0;

            canvas.addEventListener('click', function () {
                time = 0;
                console.log(t1)
                if (t1 < 5) {
                    if (picture_array[canvas.getAttribute("value")].option == false) {
                        this.classList.toggle('click_show_canvas')
                        picture_array[canvas.getAttribute("value")].option = true
                        t1++;
                    }
                    else {
                        this.classList.toggle('click_show_canvas')
                        picture_array[canvas.getAttribute("value")].option = false
                        t1--;
                    }
                }
                else {
                    if (picture_array[canvas.getAttribute("value")].option == true) {
                        this.classList.toggle('click_show_canvas')
                        picture_array[canvas.getAttribute("value")].option = false
                        t1--;
                    }
                }

                console.log(picture_array)

                for (var content of picture_array) {
                    if (content.option)
                        time++;
                }

                if (time == 0) {
                    y.style.display = "none"
                    x.style.display = "block"
                } else {
                    x.style.display = "none"
                    y.style.display = "block"
                }


                console.log(time)
                number.innerText = time.toString()
            })
            index++;
        })
        tracker.setInitialScale(5);
        tracker.setStepSize(4);
        tracker.setEdgesDensity(0.1);
        tracking.track('#video', tracker, { camera: true });
        tracker.on('track', function (event) {
            event.data.forEach(function (rect) {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.strokeStyle = '#a64ceb';
                context.strokeRect(rect.x, rect.y, rect.width, rect.height);
            });
        });
    };
</script>

</html>