<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>使用者介面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <style>
        body{
            background-color: #efefef;
        }
      .stu{
        border:#aaaaaa 1px solid;
        background-color: #ffffff;         
         height:430px ;
         text-align: center;
      }
      .prof{
        border:#aaaaaa 1px solid;
        background-color: #ffffff;
        text-align: center;
      }
    </style>
    <body>
        <div class="container" >
            <div class="row"style="margin-top:40px;">
            </div>
        <div class="row  justify-content-around">
          <div class="stu col-md-5 jumbotron jumbotron-fluid" >
            <h1 style="margin-bottom:50px;">STUDENT!</h1>
            <p class="lead" style="margin-bottom:50px;">Login here</p>
            <p><a class="btn btn-primary btn-lg" href="/stulogin" role="button">Login</a></p>
          </div>
          <div class="prof col-md-5 jumbotron jumbotron-fluid">
                <h1 style="margin-bottom:50px;">PROFESSOR!</h1>
                <p class="lead"style="margin-bottom:50px;">Login here</p>
                <p><a class="btn btn-primary btn-lg" href="/prologin" role="button">Login</a></p>
              </div>
        </div>
        <div class="row justify-content-around" >
    </div>
    </body>
</head>