<% include ./header %>

</div>
<div id="main" class="card col-md-8" style="display:none">
    <div class="card-body col-md-8">
        <h3>這是一個學生使用者介面</h3>

        <p>開始操作時，可於開設課程中點選選擇課程，開放給所有學生點選。</p>
    </div>
    <div class="card-body col-md-8">
        <h3>製作小組</h3>
        <p>TEAMWORK</p>
        <p></p>
    </div>
</div>

<div id="open" class="card col-md-8">
    <div class="row ">
        <div class="col-4" style="padding-left:0px">
            <div class="list-group">
                <a class="list-group-item list-group-item-action  disabled" data-toggle="list" href="#list-Prof" id="pro">
                  <%= class_profile.class_teacher %>
                </a>

            </div>

        </div>
        <div class="col-8">
                <div class="row ">
                    <div class="col-md-6">
                        <h1 style="margin-left:0px;margin-top:0px;padding: 0px;text-align:left;"><input type="text" readonly class="form-control-plaintext "
                                style="margin-left:10px;" value="<%= class_profile.class_name %>" required name="name"></h1>
                    </div>
                    <div class="col-md-4" style="margin-top:10px">
                        <h2>即時點名</h2>
                    </div>
                    </div>
       
            <div class="card "></div>
        </div>
        <div class="col-md-10" >
            <div class="tab-content" style="margin-top: 20px">
                <div class="tab-pane fade show active" id="list-Prof">
                    <div class="card-body">
                       <% for(i of db) { %>
                       <%= i.Time.toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
                       <br>
                       <% if(i.stu.includes(class_profile.name)==-1){ %>
                        沒到
                        <% }else{ %>
                        已到
                        <% } %>
                       <hr><br>
                       <% } %>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="row">

    </div>
</div>
<div id="open1" class="card col-md-8" style="display: none">
    <div class="card-body col-md-12">
        <table BORDER="2" class="bootstrap table col-md-12">
            <tr>
                <td>節次/星期</td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <% for(var i=0;i<=13;i++){ %>
            <tr>
                <td>第
                    <%= i+1 %>節</td>
                <% for(var j=0;j<7;j++){ %>
                <td>
                </td>
                <% } %>
            </tr>
            <% }%>
        </table>
    </div>
</div>

</div>
</div>

</body>

<script>
    $(document).ready(function () {
        $('#cls').click(function () {
            $('#choose').toggle(300)
            $('#choose1').toggle(300)
        })
    })
    $(document).ready(function () {
        $('#choose1').click(function () {
            $('#open1').toggle(300)
            $('#main').hide();
            $('#open').hide();
        })
        $('#choose').click(function () {
            $('#open').toggle(300)
            $('#main').hide();
            $('#open1').hide();
        })
    })
</script>

</html>